:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-grey: rgb(38, 37, 37);
  --color-grey: rgb(170, 170, 170);
  --color-blue: rgb(20, 213, 239);

  /* Font size */
  --font-xlarge: 7rem;
  --font-large: 4rem;
  --font-medium: 3rem;
  --font-regular: 1.875rem;
  --font-small: 1.275rem;
  --font-micro: 0.875rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 25px;

  /* Anmation Duration  */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 160px;
  z-index: 1;
  transition: all var(--animation-duration) ease-in-out;
}

.navbar__logo {
  color: var(--color-blue);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  text-transform: uppercase;
}

.navbar__logo,
.navbar__menu__item {
  padding: 1em;
  cursor: pointer;
}

.navbar__menu__item.active {
  color: var(--color-blue);
  text-decoration: line-through;
}

.navbar__toggle-btn {
  color: var(--color-blue);
  font-size: 1.65rem;
  position: absolute;
  top: 1.25em;
  right: 0.9em;
  display: none;
}

/* Section Common */
.section {
  padding: 3rem;
  padding-top: 10rem;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 70%;
  margin: auto;
}

/* Home */
#home {
  height: 100vh;
}

#home .section__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.home__title {
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
  text-align: left;
}

.home__subtitle {
  position: absolute;
  bottom: 4em;
  align-self: flex-end;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  background-color: var(--color-blue);
  color: var(--color-black);
  padding: 0.1em 1em;
  border-radius: var(--size-border-radius);
}

/* About */
#about {
  height: 100vh;
}

#about .section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about__description-second {
  display: none;
}

.about__majors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  padding: 100px;
  border-radius: 50%;
  border: 3px solid var(--color-blue);
}

.major {
  margin: 10px;
}

.major__icon {
  font-size: 50px;
  cursor: pointer;
  padding: 0.2em;
}

.javascript,
.typescript {
  width: 40px;
  height: 40px;
}

.javascript {
  border-radius: 5px;
}

.major__title {
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
}

/* Skills */
#skills {
  height: 100vh;
}

#skills .section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.skillset {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

.skill {
  margin: 0.85em;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25em;
}

.skill__bar {
  width: 100%;
  height: 0.85em;
  background-color: var(--color-dark-grey);
  border-radius: var(--size-border-radius);
}

.skill__value {
  height: 0.85em;
  background-color: var(--color-blue);
  border-radius: var(--size-border-radius);
}

.skillset__bottom {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
}

.tool,
.etc {
  align-self: flex-end;
  text-align: right;
  background-color: var(--color-blue);
  color: var(--color-black);
  font-size: var(--font-small);
  padding: 0.1em 1em;
  margin-top: 8px;
  border-radius: var(--size-border-radius);
}

/* Work */
#work .section__container {
  max-width: 1300px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 550px;
  margin: 15px;
  background-color: rgb(20, 213, 239);
  border-radius: var(--size-border-radius);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  background-color: var(--color-dark-grey);
  opacity: 0;
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease-in;
  transform: translateY(-70px);
}

.project__description h3 {
  color: var(--color-blue);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(0px);
}

/* Contact */
#contact {
  height: 100vh;
}

#contact .section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 100%;
}

.contact__notion {
  border-top: 3px solid var(--color-grey);
  border-bottom: 3px solid var(--color-grey);
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 3.5rem 0;
  cursor: pointer;
}

.notion__banner {
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
  color: var(--color-grey);
}

.notion__banner:hover {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.contact__email {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-grey);
  cursor: pointer;
}

.contact__email:hover {
  color: var(--color-blue);
}

.contact__link {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-grey);
  background-color: var(--color-blue);
  color: var(--color-black);
  padding: 0.1em 1em;
  border-radius: var(--size-border-radius);
  align-self: center;
}

.arrow-up {
  position: fixed;
  right: 2em;
  bottom: 1.5em;
  padding: 0.1em 0.3em;
  color: var(--color-blue);
  border: 3px solid var(--color-grey);
  border-radius: 25%;
  font-size: var(--font-medium);
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration) ease-out;
  transform: translateY(50px);
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

.arrow-up.visible:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

@media screen and (max-width: 768px) {
  :root {
    --font-xlarge: 4rem;
    --font-large: 2.5rem;
    --font-medium: 1.875rem;
    --font-regular: 1.5rem;
    --font-small: 0.9rem;
    --font-micro: 0.5rem;
  }

  p {
    font-size: var(--font-small);
  }

  #navbar {
    padding: 5px;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .navbar__logo {
    font-size: 1.65em;
    align-self: flex-start;
  }

  .navbar__menu {
    display: none;
    padding-top: 5em;
    padding-right: 1.25em;
    text-align: right;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 0;
    padding-top: 5rem;
  }

  .section__container {
    max-width: 80%;
  }

  .home__title {
    font-size: var(--font-large);
  }

  .home__subtitle {
    font-size: var(--font-small);
  }

  .about__description-first {
    display: none;
  }

  .about__description-second {
    display: flex;
  }

  .about__majors {
    width: 280px;
    height: 280px;
    padding: 32px;
    padding-bottom: 40px;
  }

  .major {
    margin: 5px;
  }

  .major__icon {
    font-size: 30px;
    padding: 0.25em;
    cursor: pointer;
  }

  .javascript,
  .typescript {
    width: 25px;
    height: 25px;
  }

  .major__title {
    font-size: var(--font-micro);
    font-weight: var(--weight-semi-bold);
  }

  .skillset {
    font-size: var(--font-small);
  }

  .tool,
  .etc {
    font-size: var(--font-small);
  }

  #work .section__container {
    max-width: 90%;
  }

  .project {
    height: 385px;
  }

  .notion__banner {
    font-size: var(--font-xlarge);
  }

  .contact__email {
    font-size: var(--font-regular);
  }

  .contact__link {
    font-size: var(--font-small);
  }

  .arrow-up {
    font-size: var(--font-regular);
  }
}
